<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="<%= _.slugify(_.humanize(appname)) %>">
    
    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Dependencies -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    
    <!-- cean: Application -->
    <script src="scripts/app.js"></script>
    
    <!-- cean: Services -->  
    <script src="scripts/services/main.js"></script>
    <script src="scripts/services/myservice.js"></script>
    
    <!-- cean: Controllers -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/mycontroller.js"></script>
  
</body>
</html>
